@import "tailwindcss";

:root {
  --background: #161616;
  --foreground: #b9b9b9;

  --card: #1f1f1f;
  --card-hover: #262626;

  --primary: #b8f175;
  --primary-text: #000;

  --secondary: #fff;
  --secondary-text: #000;

  --nav: #ffffff;
  --nav-text: #0f0f0f;
  --nav-muted: #3b3b3b;
  --nav-divider: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-hover: var(--card-hover);

  --color-primary: var(--primary);
  --color-primary-text: var(--primary-text);

  --color-secondary: var(--secondary);
  --color-secondary-text: var(--secondary-text);

  --color-nav: var(--nav);
  --color-nav-text: var(--nav-text);
  --color-nav-muted: var(--nav-muted);
  --color-nav-divider: var(--nav-divider);
}

@font-face {
  font-family: 'sqmarket';
  src: url('/fonts/sqmarket.ttf') format("truetype");
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'sqmarket', sans-serif;
}
